#arc {
  background-color: #eeeeee;
  padding-top: 3rem;
  padding-bottom: 9rem;
}

#arc-wr.supplier {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

#arc-wr:before {
  width: 10rem;
  height: 15rem;
  position: absolute;
  left: 0;
  top: -3rem;
  z-index: 2;
  background-color: #000;
  content: "";
  background-image: -webkit-linear-gradient(
      -90deg,
      transparent 0%,
      transparent 50%,
      #f0f8ff 50%,
      #f0f8ff 100%
    ),
    -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 50%, #f0f8ff
          50%, #f0f8ff 100%);
  background-size: 1em 1em;
  opacity: 0.1;
}

#arc-right {
  padding: 2rem;
  overflow: hidden;
  aspect-ratio: 1/1;
  border-radius: var(--border-radius-3);
}

img.arc-fim {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-5);
}

#arc-content {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
#arc-content #the-content {
  width: 800px;
  max-width: 100%;
  margin: -9rem auto 0 auto;
  background-color: tan;
  z-index: 2;
  padding: 2rem;
}
