#help {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--transparent-dark-7);
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

#help.active {
  z-index: 4444;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

#help-wr {
  width: 600px;
  max-width: calc(100% - 2rem);
  height: auto;
  left: 50%;
  top: 50%;
  background-color: aliceblue;
  color: black;
  padding: 3rem 1rem;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  box-shadow: 0 0 1rem var(--transparent-dark-4) inset;
}
#help-close {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 50%;
  bottom: calc(-2rem - 20px);
  padding: 1rem;
  cursor: pointer;
  background-color: darkred;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
#help-image-wr {
  width: 150px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: -5rem;
}
#help-image-wr img {
  width: 100%;
  height: auto;
}
